force-app/main/default/flows/New_Case_by_Conversion_proc.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <description>By IanS 28/12/2020 Ver 1.06</description>
    <interviewLabel>New Case by Conversion proc {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Case by Conversion proc</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>New_Case</name>
        <label>New Case</label>
        <locationX>622</locationX>
        <locationY>555</locationY>
        <assignRecordIdToReference>NewCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_LeadInCaseRec</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumberRequested__c</field>
            <value>
                <elementReference>$Record.No_of_Employees_Requested__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program__c</field>
            <value>
                <elementReference>Var_Program_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Responsible_contact_Email__c</field>
            <value>
                <elementReference>Get_Program.Responsible_Contact__r.Email</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Lead_In_Program</name>
        <label>Get Lead In Program</label>
        <locationX>505</locationX>
        <locationY>255</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Program</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Lead_In_Program__c</object>
        <outputAssignments>
            <assignToReference>var_LeadInProgramId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_Program_Id</assignToReference>
            <field>Program__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Program</name>
        <label>Get Program</label>
        <locationX>403</locationX>
        <locationY>397</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_Program_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_LeadInCaseRec</name>
        <label>Update LeadInProgramRec</label>
        <locationX>876</locationX>
        <locationY>542</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_LeadInProgramId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>NewCaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Lead_In_Program__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Lead_In_Program</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NewCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_LeadInProgramId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_Program_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
